<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/img/icons/storage.png">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Closes store</title>
</head>
<body>
    <header>
        <div class="header__container">
            <div class="contacts">
                <div class="work__time">
                    Режим работы: 10.00-20.00
                </div>
                <div class="phone__number">
                    Телефон: <a href="tel:8(800)300-49-49">8(800)300-49-49</a>
                    <a href="#">Заказать обратный звонок</a>
                </div>
                <div class="email">
                    Почта: <a href="mailto:info@gmail.com">info@gmail.com</a>
                </div>
            </div>
        </div>
        
        <div class="menu__wrapper">
            <div class="header__container">
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Оплата</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Вопросы</a></li>
                            <li><a href="#">ОПТ</a></li>
                            <li><a href="#">Услуги</a></li>
                        </ul>
                    </nav>
                    <div class="info">
                        <div class="lang">Язык сайта: <a href="#">EN</a>/<a href="#">UA</a></div> 
                        <div class="phone__number"><a href="tel:8(800)300-49-49">8(800)300-49-49</a></div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="header__container">
            <div class="bottom__menu">
                <nav>
                    <ul>
                        <li><a href="#">Каталог одежды</a></li>
                        <li><a href="#">Экипировка</a></li>
                        <li><a href="#">Форма под заказ</a></li>
                        <li><button class="create__button">Создать свой дизайн</button></li>
                        <li>
                            <button class="basket__button">
                                <div class="basket">
                                    <div class="count">4</div>
                                    <img src="../public/img/icons/storage.png" alt="basket">
                                </div>                                
                                Корзина
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="main__section">
        <div class="container">
            <div class="row">
                <div class="sidebar">
                    <div class="sidebar__wrapper">
                        <div class="check__block">
                            <div class="check__head">Пол:</div>
                            <form class="gender__form">
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="gender" value="HTML">
                                    <span class="custom__checkbox"></span>
                                    Женские
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="gender" value="CSS">
                                    <span class="custom__checkbox"></span>
                                    Мужские
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="gender" value="JS">
                                    <span class="custom__checkbox"></span>
                                    Унисекс
                                </label>
                            </form>
                        </div>

                        <div class="check__block">
                            <div class="check__head">Тип:</div>
                            <form class="type__form">
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="type" value="HTML">
                                    <span class="custom__checkbox"></span>
                                    С рукавом
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="type" value="CSS">
                                    <span class="custom__checkbox"></span>
                                    Без рукава
                                </label>
                            </form>
                        </div>

                        <div class="check__block">
                            <div class="check__head">Цвет:</div>
                            <form class="color__form">
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="color" value="HTML">
                                    <span class="custom__checkbox"></span>
                                    Белый
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="color" value="CSS">
                                    <span class="custom__checkbox"></span>
                                    Черный
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="color" value="JS">
                                    <span class="custom__checkbox"></span>
                                    Серый
                                </label>
                                
                                <a class="show__more" href="#">Посмотреть все</a>
                            </form>
                        </div>

                        <div class="check__block">
                            <div class="check__head">Размер:</div>
                            <form class="size__form">
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="size" value="HTML">
                                    <span class="custom__checkbox"></span>
                                    40-42
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="size" value="CSS">
                                    <span class="custom__checkbox"></span>
                                    42-44
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="size" value="JS">
                                    <span class="custom__checkbox"></span>
                                    44-46
                                </label>

                                <a class="show__more" href="#">Посмотреть все</a>
                            </form>
                        </div>

                        <div class="check__block">
                            <div class="check__head">Принт:</div>
                            <form class="print__form">
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="print" value="HTML">
                                    <span class="custom__checkbox"></span>
                                    Животные
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="print" value="CSS">
                                    <span class="custom__checkbox"></span>
                                    Страны и флаги
                                </label>
                                <label>
                                    <input class="real__checkbox" type="checkbox" name="print" value="JS">
                                    <span class="custom__checkbox"></span>
                                    Женские принт
                                </label>

                                <a class="show__more" href="#">Посмотреть все</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="cards">
                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>
                    </div>
                    <button class="more__btn">Показать ещё</button>
                    <div class="change__page">
                        <a class="link__page" href="#">1</a>
                        <a class="link__page" href="#">2</a>
                        <a class="link__page" href="#">3</a>
                        <a class="link__page" href="#">....</a>
                        <a class="link__page" href="#">45</a>
                        <a class="next__page" href="#">></a>
                    </div>

                    <div class="creator__block">
                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                        <div class="creator__text">
                            <div class="creator__head">
                                <p>Не нашли подходящий товар?</p>
                                <p>Создайте его сами.</p>
                            </div>
                            <div class="creator__info">
                                <p>
                                    Воспользуйтесь нашим онлайн-конструктором одежды
                                    и создайте товар на свой вкус. 
                                </p>
                                <p>
                                    Вы можете добавить фото, текст или принт.
                                    А мы реализуем вашу идею и напечатаем дизайн
                                    на одежде.
                                </p>
                            </div>
                           
                            <button class="create__btn">Создать в конструкторе</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer__container">
            <div class="column__menu">
                <div class="column">
                    <a href="#">Оплата</a>
                    <a href="#">Возврат</a>
                    <a href="#">Доставка</a>
                    <a href="#">Вопросы</a>
                </div>
                <div class="column">
                    <a href="#">О нас</a>
                    <a href="#">Услуги</a>
                    <a href="#">Отзывы</a>
                    <a href="#">Оптовый отдел</a>
                </div>
                <div class="column">
                    <a href="#">Каталог</a>
                    <a href="#">Размерная сетка</a>
                    <a href="#">Комнадная форма</a>
                    <a href="#">Создание дизайна формы </a>
                </div>
            </div>

            <div class="info__menu">
                <div class="phone__number">
                    <a href="tel:8(800)300-49-49">8(800)300-49-49</a>
                </div>
                <div class="email">
                    <a href="mailto:info@gmail.com">info@gmail.com</a>
                </div>
                <div class="social__links">
                    <a href="#"><span class="social__link"></span></a>
                    <a href="#"><span class="social__link"></span></a>
                    <a href="#"><span class="social__link"></span></a>
                    <a href="#"><span class="social__link"></span></a>
                </div>
            </div>
        </div>

        <div class="footer__wrapper">
            <div class="footer__container">
                <div class="bottom__footer">
                    <div class="first__line">
                        <a href="#">Футбольная форма</a>
                        <a href="#">Волейбольная форма</a>
                        <a href="#">Гимнастический купальник</a>
                        <a href="#">Гиревая форма</a>
                        <a href="#">Тяжелоатлетический костюм</a>
                    </div>
                    <div class="second__line">
                        <a href="#">Майки</a>
                        <a href="#">Футболки</a>
                        <a href="#">Леггинсы</a>
                        <a href="#">Велосипедки</a>
                        <a href="#">Маски</a>
                        <a href="#">Ремни</a>
                        <a href="#">Штангетки</a>
                        <a href="#">Магнезия</a>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
</body>
</html>         