<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/img/icons/storage.png">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>Closes store</title>
</head>
<body>
    <header>
        <div class="header__container">
            <div class="contacts">
                <div class="work__time">
                    Режим работы: 10.00-20.00
                </div>
                <div class="phone__number">
                    Телефон: <a href="tel:8(800)300-49-49">8(800)300-49-49</a>
                    <a href="#">Заказать обратный звонок</a>
                </div>
                <div class="email">
                    Почта: <a href="mailto:info@gmail.com">info@gmail.com</a>
                </div>
            </div>
        </div>
        
        <div class="menu__wrapper">
            <div class="header__container">
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Оплата</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Вопросы</a></li>
                            <li><a href="#">ОПТ</a></li>
                            <li><a href="#">Услуги</a></li>
                        </ul>
                    </nav>
                    <div class="info">
                        <div class="lang">Язык сайта: <a href="#">EN</a>/<a href="#">UA</a></div> 
                        <div class="phone__number"><a href="tel:8(800)300-49-49">8(800)300-49-49</a></div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="header__container">
            <div class="bottom__menu">
                <nav>
                    <ul>
                        <li><a href="#">Каталог одежды</a></li>
                        <li><a href="#">Экипировка</a></li>
                        <li><a href="#">Форма под заказ</a></li>
                        <li><button class="create__button">Создать свой дизайн</button></li>
                        <li>
                            <button class="basket__button">
                                <div class="basket">
                                    <div class="count">4</div>
                                    <img src="../public/img/icons/storage.png" alt="basket">
                                </div>                                
                                Корзина
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="main__section">
        <div class="container">
            <div class="row">
                <div class="sidebar">
                    dasasdasdsd
                </div>
                <div class="main">
                    <div class="cards">
                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>

                        <div class="card__wrapper">
                            <a class="card__link" href="#">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="../public/img/cards/tshirt.jpg" alt="tshirt">
                                    </div>
                                    <div class="card__info">
                                        <div class="name__product">Мужская футболка</div>
                                        <div class="size__info">
                                            <div>Размер:</div>
                                            <div class="size__value">40-60</div>
                                        </div>
                                        <div class="price__info">
                                            <div>Цена:</div>
                                            <div class="price__value">150 $</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <button class="add__basket">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>         