<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/img/icons/storage.png">
    <link rel="stylesheet" href="../public/productStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Closes store</title>
</head>
<body>
    <header>
        <div class="full__wrapper">
            <div class="header__container">
                <div class="contacts">
                    <div class="work__time">
                        Режим работы: 10.00-20.00
                    </div>
                    <div class="phone__number">
                        Телефон: <a href="tel:8(800)300-49-49">8(800)300-49-49</a>
                        <a href="#">Заказать обратный звонок</a>
                    </div>
                    <div class="email">
                        Почта: <a href="mailto:info@gmail.com">info@gmail.com</a>
                    </div>
                </div>
            </div>
            
            <div class="menu__wrapper">
                <div class="header__container">
                    <div class="menu">
                        <nav>
                            <ul>
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Доставка</a></li>
                                <li><a href="#">Оплата</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Вопросы</a></li>
                                <li><a href="#">ОПТ</a></li>
                                <li><a href="#">Услуги</a></li>
                            </ul>
                        </nav>
                        <div class="info">
                            <div class="lang">Язык сайта: <a href="#">EN</a>/<a href="#">UA</a></div> 
                            <div class="phone__number"><a href="tel:8(800)300-49-49">8(800)300-49-49</a></div> 
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="header__container">
                <div class="bottom__menu">
                    <nav>
                        <ul>
                            <li><a href="../views/index.html">Каталог одежды</a></li>
                            <li><a href="#">Экипировка</a></li>
                            <li><a href="#">Форма под заказ</a></li>
                            <li><button class="create__button">Создать свой дизайн</button></li>
                            <li>
                                <button class="basket__button">
                                    <div class="basket">
                                        <div class="count" id="count">4</div>
                                        <img src="../public/img/icons/storage.png" alt="basket">
                                    </div>                                
                                    Корзина
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="catalog__path">
                    <a href="#">Каталог одежды</a>
                    -
                    <a href="#">Футболки</a>
                    -
                    <a href="#">С рукавом </a>
                    -
                    <a href="#">Звери</a>
                </div>
            </div>
        </div>
        <div class="adaptive__wrapper">
            <button class="menu__btn"><img src="../public/img/icons/menu.png" alt="menu"></button>
            <button class="adaptive__basket"><img src="../public/img/icons/storage.png" alt="storage"></button>
        </div>
    </header>

    <section class="product__section">
        <div class="product__container">
            <div class="show__product">
                <div class="img__slider">
                    <div class="small__imgs">
                        <img class="small__item" src="../public/img/cards/girl_tshirt.png" alt="tshirt">
                        <img class="small__item" src="../public/img/cards/back.png" alt="tshirt">
                        <img class="small__item" src="../public/img/cards/girl.png" alt="tshirt">
                        <img class="small__item" src="../public/img/cards/pngegg.png" alt="tshirt">
                    </div>
                    <div class="main__img">
                        <img class="main__item" src="../public/img/cards/girl_tshirt.png" alt="tshirt">
                    </div>
                </div>
                <div class="discribing__product">
                    <span class="discribing__head">Описание товара:</span>
                    <p> 
                        Базовая футболка прямого кроя, создана из мягкого хлопка. 
                        Можно купить с принтом из каталога, без принта или со своим дизайном.
                    </p> 
                </div>
            </div>
            <div class="info__product">
                <div class="product__type">
                    Футболка женская с рукавом(id=1)
                </div>
                <div class="product__name">
                    «NOT TODAY»
                </div>
                <div class="product__price">
                    <div class="now__price">1 190 $</div> 
                    <div class="discount__price"><s>1 590</s></div>
                </div>
                <div class="size__head">
                    <div class="size__name">Размер</div>
                    <div class="t_size">Таблица размеров</div>
                </div>
                <div class="radio__block">
                    <form class="size-product__form">
                        <label>
                            <input class="real__radio" type="radio" name="size" value="HTML">
                            <span class="custom__radio">40 (XXS)</span>
                        </label>
                        <label>
                            <input class="real__radio" type="radio" name="size" value="CSS">
                            <span class="custom__radio">42 (XS)</span>
                        </label>
                        <label>
                            <input class="real__radio" type="radio" name="size" value="JS">
                            <span class="custom__radio">44 (S)</span>
                        </label>
                        <label>
                            <input class="real__radio" type="radio" name="size" value="JS">
                            <span class="custom__radio">46 (M)</span>
                        </label>
                        <label>
                            <input class="real__radio" type="radio" name="size" value="JS">
                            <span class="custom__radio">48 (L)</span>
                        </label>
                        <label>
                            <input class="real__radio" type="radio" name="size" value="JS">
                            <span class="custom__radio">50-52 (XL)</span>
                        </label>
                        <label>
                            <input class="real__radio" type="radio" name="size" value="JS">
                            <span class="custom__radio">54 (XXL)</span>
                        </label>
                        <label>
                            <input class="real__radio" type="radio" name="size" value="JS">
                            <span class="custom__radio">56 (XXXL)</span>
                        </label>
                    </form>
                </div>
                <div class="color__head">
                    <div class="color__name">Цвет:</div>
                    <div class="color__value">Белый</div>
                </div>

                <div class="color-radio__block">
                    <form class="color-product__form">
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="HTML">
                            <span class="color-custom__radio" style="background-color: white;"></span>
                        </label>
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="CSS">
                            <span class="color-custom__radio" style="background-color: red;"></span>
                        </label>
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="JS">
                            <span class="color-custom__radio" style="background-color: green;"></span>
                        </label>
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="JS">
                            <span class="color-custom__radio" style="background-color: rgb(255, 0, 242);"></span>
                        </label>
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="JS">
                            <span class="color-custom__radio" style="background-color: blueviolet;"></span>
                        </label>
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="JS">
                            <span class="color-custom__radio" style="background-color: yellow;"></span>
                        </label>
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="JS">
                            <span class="color-custom__radio" style="background-color: yellowgreen;"></span>
                        </label>
                        <label>
                            <input class="color-real__radio" type="radio" name="color" value="JS">
                            <span class="color-custom__radio" style="background-color: black;"></span>
                        </label>
                    </form>
                </div>
                <div class="compound__head">
                    <div class="compound__name">Состав:</div>
                    <div class="compound__value">100% хлопок</div>
                </div>
                <button class="basket__btn" id="basket_main" value="1">В корзину</button>
            </div>
        </div>

        <div class="popular__product">
            <div class="popular-product__container">
                <div class="popular__head">
                    Популярные товары
                </div>
                <div class="popular__cards">
                    <div class="popular-card__wrapper">
                        <div class="popular__card">
                            <div class="flags">
                                <div class="flag__item">Осталось 3 шт.</div>
                                <div class="flag__item">Скидка 10%</div>
                            </div>
                            <a class="popular-card__link" href="#">
                                <div class="product-card__img">
                                    <img src="../public/img/cards/image 15.jpg" alt="">
                                </div>
                                <div class="product-card__info">
                                    <div class="popular__price">
                                        <div class="poular__name">Магнезия жесткая</div>
                                        <div class="popular-price__value">750 $</div>
                                    </div>
                                </div>
                            </a>
                            <button class="popular__basket" value="1">В корзину</button>
                        </div>
                    </div>

                    <div class="popular-card__wrapper">
                        <div class="popular__card">
                            <div class="flags">
                                <div class="flag__item">Осталось 3 шт.</div>
                                <div class="flag__item">Скидка 10%</div>
                            </div>
                            <a class="popular-card__link" href="#">
                                <div class="product-card__img">
                                    <img src="../public/img/cards/image 15.jpg" alt="">
                                </div>
                                <div class="product-card__info">
                                    <div class="popular__price">
                                        <div class="poular__name">Магнезия жесткая</div>
                                        <div class="popular-price__value">750 $</div>
                                    </div>
                                </div>
                            </a>
                            <button class="popular__basket" value="1">В корзину</button>
                        </div>
                    </div>

                    <div class="popular-card__wrapper">
                        <div class="popular__card">
                            <div class="flags">
                                <div class="flag__item">Осталось 3 шт.</div>
                                <div class="flag__item">Скидка 10%</div>
                            </div>
                            <a class="popular-card__link" href="#">
                                <div class="product-card__img">
                                    <img src="../public/img/cards/image17.jpg" alt="">
                                </div>
                                <div class="product-card__info">
                                    <div class="popular__price">
                                        <div class="poular__name">Магнезия жесткая</div>
                                        <div class="popular-price__value">750 $</div>
                                    </div>
                                </div>
                            </a>
                            <button class="popular__basket" value="1">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="advantages">
            <div class="adv__container">
                <div class="adv__head">
                    Что вы получаете выбирая нас:
                </div>
                <div class="adv__block">
                    <div class="adv__items">
                        <div class="item__head">Высокое качество</div>
                        <div class="item__text">
                            Каждое изделие кроится, отшивается и проверяется вручную.
                        </div>
                    </div>

                    <div class="adv__items">
                        <div class="item__head">Гарантию</div>
                        <div class="item__text">
                            Мы гарантируем, что наши изделия выдержат 50 стирок и не потеряет цвет и форму.
                        </div>
                    </div>

                    <div class="adv__items">
                        <div class="item__head">Точность размера</div>
                        <div class="item__text">
                            Размеры соответствуют размерной сетке, т.к. отшиваются по собственным лекалам. 
                        </div>
                    </div>

                    <div class="adv__items">
                        <div class="item__head">Помощь дизайнера</div>
                        <div class="item__text">
                            Помощь в разработке дизайна, доработка существующего макета.
                        </div>
                    </div>

                    <div class="adv__items">
                        <div class="item__head">Быстрая доставка</div>
                        <div class="item__text">
                            Доставляем по всему миру,отправка вашего заказа в течение 1 дня.
                        </div>
                    </div>

                    <div class="adv__items">
                        <div class="item__head">Сервис</div>
                        <div class="item__text">
                            Лёгкий процесс оплаты, обмена и возврата заказа.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info__sport">
            <div class="sport__container">
                <div class="sport__head">
                    Профессиональные спортсмены доверяют нам
                </div>
                <div class="slider">
                    <div class="slider__line">
                        <div class="slider__item">
                            <div class="img__block">
                                <div class="main-img__block">
                                    <span></span>
                                </div>
                                <div class="small-img__block">
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                </div>
                            </div>
                            <div class="text__block">
                                <div class="sport__name">Иван Марков(first)</div>
                                <div class="sport__status">Чемпион мира по гиревому спорту</div>
                                <div class="sport__discribing">
                                    Качественные материалы, универсальность в выборе дизайна. Отличные плоские швы, выдерживает множество стирок и в целом замечательная одежда.
                                </div>
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="img__block">
                                <div class="main-img__block">
                                    <span></span>
                                </div>
                                <div class="small-img__block">
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                </div>
                            </div>
                            <div class="text__block">
                                <div class="sport__name">Иван Марков</div>
                                <div class="sport__status">Чемпион мира по гиревому спорту</div>
                                <div class="sport__discribing">
                                    Качественные материалы, универсальность в выборе дизайна. Отличные плоские швы, выдерживает множество стирок и в целом замечательная одежда.
                                </div>
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="img__block">
                                <div class="main-img__block">
                                    <span></span>
                                </div>
                                <div class="small-img__block">
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                </div>
                            </div>
                            <div class="text__block">
                                <div class="sport__name">Иван Марков</div>
                                <div class="sport__status">Чемпион мира по гиревому спорту</div>
                                <div class="sport__discribing">
                                    Качественные материалы, универсальность в выборе дизайна. Отличные плоские швы, выдерживает множество стирок и в целом замечательная одежда.
                                </div>
                            </div>
                        </div>

                        <div class="slider__item">
                            <div class="img__block">
                                <div class="main-img__block">
                                    <span></span>
                                </div>
                                <div class="small-img__block">
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                </div>
                            </div>
                            <div class="text__block">
                                <div class="sport__name">Иван Марков</div>
                                <div class="sport__status">Чемпион мира по гиревому спорту</div>
                                <div class="sport__discribing">
                                    Качественные материалы, универсальность в выборе дизайна. Отличные плоские швы, выдерживает множество стирок и в целом замечательная одежда.
                                </div>
                            </div>
                        </div>

                        <div class="slider__item">
                            <div class="img__block">
                                <div class="main-img__block">
                                    <span></span>
                                </div>
                                <div class="small-img__block">
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                    <span class="small-block__item"></span>
                                </div>
                            </div>
                            <div class="text__block">
                                <div class="sport__name">Иван Марков(last)</div>
                                <div class="sport__status">Чемпион мира по гиревому спорту</div>
                                <div class="sport__discribing">
                                    Качественные материалы, универсальность в выборе дизайна. Отличные плоские швы, выдерживает множество стирок и в целом замечательная одежда.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="slide__btn">
                    <button id="prev"><img src="../public/img/icons/Polygon 3.svg" alt=""></button>
                    <button id="next"><img src="../public/img/icons/Polygon 5.svg" alt=""></button>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="full__footer">
            <div class="footer__container">
                <div class="column__menu">
                    <div class="column">
                        <a href="#">Оплата</a>
                        <a href="#">Возврат</a>
                        <a href="#">Доставка</a>
                        <a href="#">Вопросы</a>
                    </div>
                    <div class="column">
                        <a href="#">О нас</a>
                        <a href="#">Услуги</a>
                        <a href="#">Отзывы</a>
                        <a href="#">Оптовый отдел</a>
                    </div>
                    <div class="column">
                        <a href="#">Каталог</a>
                        <a href="#">Размерная сетка</a>
                        <a href="#">Комнадная форма</a>
                        <a href="#">Создание дизайна формы </a>
                    </div>
                </div>
    
                <div class="info__menu">
                    <div class="phone__number">
                        <a href="tel:8(800)300-49-49">8(800)300-49-49</a>
                    </div>
                    <div class="email">
                        <a href="mailto:info@gmail.com">info@gmail.com</a>
                    </div>
                    <div class="social__links">
                        <a href="#"><span class="social__link"></span></a>
                        <a href="#"><span class="social__link"></span></a>
                        <a href="#"><span class="social__link"></span></a>
                        <a href="#"><span class="social__link"></span></a>
                    </div>
                </div>
            </div>
    
            <div class="footer__wrapper">
                <div class="footer__container">
                    <div class="bottom__footer">
                        <div class="first__line">
                            <a href="#">Футбольная форма</a>
                            <a href="#">Волейбольная форма</a>
                            <a href="#">Гимнастический купальник</a>
                            <a href="#">Гиревая форма</a>
                            <a href="#">Тяжелоатлетический костюм</a>
                        </div>
                        <div class="second__line">
                            <a href="#">Майки</a>
                            <a href="#">Футболки</a>
                            <a href="#">Леггинсы</a>
                            <a href="#">Велосипедки</a>
                            <a href="#">Маски</a>
                            <a href="#">Ремни</a>
                            <a href="#">Штангетки</a>
                            <a href="#">Магнезия</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script type="module" src="../js/addBascketOnProdPage.js"></script>
    <script src="../js/changeImgPtoduct.js"></script>
    <script src="../js/slider.js"></script>
</body>
</html>