* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*header styles*/

header {
    margin-top: 21px;
}

.header__container {
    max-width: 1600px;
    margin: 0 auto;
}

.adaptive__wrapper {
    display: none;
    background-color: #EAEAEA;
    padding-bottom: 15px;
}

.adaptive__basket {
    background-color: #EAEAEA;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

.menu__btn {
    background-color: #EAEAEA;
    border: none;
    margin-top: 15px;
    margin-left: 15px;
}

.menu__btn img{
    width: 50px;
}
@media (min-width: 2200px) {
    .header__container {
        max-width: 1900px;
    }
}

@media (max-width: 1619px) {
    .header__container {
        max-width: 1360px;
    }
}

@media (max-width: 1519px) {
    .header__container {
        max-width: 1400px;
    }
}

@media (max-width: 1419px) {
    .header__container {
        max-width: 1350px;
    }
}

@media (max-width: 1324px) {
    .full__wrapper {
        display: none;
    }

    header {
        margin-top: 0;
    }

    .adaptive__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .full__footer {
        display: none;
    }
} 


.contacts {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 14px;
}

.contacts a {
    text-decoration: none;
    color: black;
}


.menu__wrapper {
    background-color: #EAEAEA;
}

.menu {
    display: flex;
    
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 12px;
}

.menu nav {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 16px;;
    border: 2px solid #000000;
    border-radius: 61px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li {
    list-style-type: none;
    font-size: 26px;
    
}

.menu nav ul li a {
    padding-top: 10px;
    padding-bottom: 16px;
    text-decoration: none;
    color: #000000;
    padding-left: 30px;
    padding-right: 30px;
    transition: all .2s ease-in-out;
}

.menu nav ul li a:hover {
    background-color: #EAEAEA;
    border-radius: 61px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
}

.lang a {
    text-decoration: none;
    color: black;
}

.lang a:hover {
    border-bottom: 1px solid #000;
}

.info .phone__number {
    font-size: 26px;
}

.phone__number a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.phone__number a:hover {
    border-bottom: 2px solid #000;
} 

.email a {
    font-weight: 500;
}

.email a:hover {
    border-bottom: 2px solid #000;
}

.bottom__menu nav ul li {
    list-style-type: none;
    font-size: 26px;
    font-weight: 500;
}

.bottom__menu {
    margin-top: 27px;
}

.basket__button {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 26px;
    font-weight: 500;
    background: #D8D8D8;
    border: 2px solid #B4B4B4;
    border-radius: 61px;
    padding: 13px 30px;
}

.basket__button img {
    width: 38px;
    height: 35px;
    margin-right: 25px;
    vertical-align: bottom;
}

.count {
    background-color: #fff;
    padding: 0 5px;
    border-radius: 50%;
    position: absolute;
    font-size: 16px;
    left: 60px;
    top: 25px;
}

.create__button {
    cursor: pointer;
    font-size: 26px;
    font-weight: 500;
    background: #D8D8D8;
    border: 2px solid #B4B4B4;
    border-radius: 61px;
    padding: 13px 30px;

}

.bottom__menu nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__menu nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    transition: all .2s ease-in;
    border-radius: 30px;
}

.bottom__menu nav ul li a:hover {
    background-color: #EAEAEA;
}

.catalog__path {
    margin-top: 31px;
    margin-left: 11px;
    color: #000;
}

.catalog__path a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 300;
}

.product__container {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 74px;
    display: flex;
}

.img__slider {
    display: flex;
}

.small__imgs {
    display: grid;  
}

.small__item:last-child {
    margin-bottom: 0;
}
.small__imgs img {
    cursor: pointer;
    width: 120px;
    height: 130px;
    padding: 10px;
    background-color: #E9E9E9;
    margin-bottom: 10px;
}

.main__img {
    padding: 10px;
    background-color: #E9E9E9;
    margin-left: 25px;
}

.main__img img{
    width: 560px;
    height: 600px;
}

.discribing__product {
    font-weight: 300;
    font-size: 18px;
    margin-top: 31px;
    margin-left: 165px;
    width: 580px;
}

.discribing__product p {
    margin-top: 11px;
}

.discribing__head {
    font-weight: 400;
}

@media (min-width: 2200px) {
    .product__container {
        max-width: 1900px;
    }
}

@media (max-width: 1619px) {
    .product__container {
        max-width: 1360px;
    }
}

@media (max-width: 1519px) {
    .product__container {
        max-width: 1400px;
    }
}

@media (max-width: 1419px) {
    .product__container {
        max-width: 1350px;
    }
}

.info__product {
    margin-left: 28px;
}

.product__type {
    font-size: 18px;
    font-weight: 300;
}

.product__name {
    font-size: 38px;
    margin-top: 5px;
}

.product__price {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.now__price {
    font-size: 38px;
}

.discount__price {
    font-size: 18px;
    margin-left: 30px;
}

.size__head {
    display: flex;
    font-size: 18px;
    margin-top: 10px;
}

.t_size {
    margin-left: 14px;
}

.size__name {
    font-weight: 300;
}

.real__radio:checked + .custom__radio{
    box-shadow: 2px 4px 37px rgba(0, 0, 0, 0.35);
    border: 1px solid #868686;
    background-color: #868686;
}

.real__radio {
    display: none;
}

.custom__radio {
    position: relative;
    display: inline-block;
    width: 130px;
    border: 1px solid #000000;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding: 7px 0;
    margin-right: 10px;
    margin-top: 12px;
    cursor: pointer;
}

.radio__block {
    max-width: 670px;
}

.color__head {
    display: flex;
    font-size: 18px;
    margin-top: 14px;
}

.color__value {
    margin-left: 14px;
}

.color__name {
    font-weight: 300;
}

.color-radio__block {
    margin-top: 10px;
}

.color-real__radio:checked + .color-custom__radio{
    border: 3px solid rgb(70, 70, 255);
}

.color-real__radio {
    display: none;
}

.color-custom__radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(133, 133, 133);
    margin-right: 6px;
}


.compound__head {
    display: flex;
    font-size: 18px;
    margin-top: 14px;
}

.compound__value {
    margin-left: 14px;
}

.compound__name {
    font-weight: 300;
}

.basket__btn {
    background: #FFFFFF;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    border: none;
    cursor: pointer;
    padding: 10px 80px;
    font-size: 26px;
    margin-top: 23px;
}


.popular__product {
    margin-top: 80px;
    background-color: #EAEAEA;
}

.popular-product__container {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 130px;
}

@media (min-width: 2200px) {
    .popular-product__container{
        max-width: 1900px;
    }
}

@media (max-width: 1619px) {
    .popular-product__container {
        max-width: 1360px;
    }
}

@media (max-width: 1519px) {
    .popular-product__container {
        max-width: 1400px;
    }
}

@media (max-width: 1419px) {
    .popular-product__container {
        max-width: 1350px;
    }
}


.popular__head {
    font-size: 52px;
    font-weight: 500;
}

.popular__cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular-card__link {
    text-decoration: none;
    color: #000;
}

.product-card__img {
    padding: 60px;
    background: #FFFFFF;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    height: 350px;
}

.product-card__img img {
    width: 300px;
    height: 350px;
}


.popular-card__wrapper {
    transition: transform .2s ease-in;
}

.popular-card__wrapper:hover {
    transform: translateY(-10px);
}

.popular__price {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    align-items: center;
    margin-top: 14px;
    
}

.popular-price__value {
    font-size: 38px;
}

.popular__basket {
    font-size: 26px;
    padding: 5px 15px;
    background: #FFFFFF;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.popular-card__wrapper {
    position: relative;
}

.flags {
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
}

.flag__item {
    background: #EAEAEA;
    border-radius: 53px;
    padding: 6px 20px;
    font-size: 26px;
    text-align: right;
    display: inline-block;
    margin-bottom: 10px;
}

.adv__container {
    max-width: 1600px;
    margin: 0 auto;
    
}

.adv__block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    column-gap: calc((100% - 1350px)/2);
    justify-items: center;
}

.adv__head {
    margin-top: 80px;
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 50px;
}

@media (min-width: 2200px) {
    .adv__container{
        max-width: 1900px;
    }
}

@media (max-width: 1619px) {
    .adv__container {
        max-width: 1360px;
    }
}

@media (max-width: 1519px) {
    .adv__container {
        max-width: 1400px;
    }
}

@media (max-width: 1419px) {
    .adv__container {
        max-width: 1350px;
    }
}

.adv__items {
    width: 400px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding-top: 33px;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.item__head {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.item__text {
    font-size: 20px;
}

.sport__container {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    
}

.sport__head {
    font-size: 52px;
    font-weight: 500;
    max-width: 900px;
    margin-top: 120px;
    margin-bottom: 74px;
}

@media (min-width: 2200px) {
    .sport__container{
        max-width: 1900px;
    }
}

@media (max-width: 1619px) {
    .sport__container {
        max-width: 1360px;
    }
}

@media (max-width: 1519px) {
    .sport__container {
        max-width: 1400px;
    }
}

@media (max-width: 1419px) {
    .sport__container {
        max-width: 1350px;
    }
}

.slider {
    margin: 0 auto;
    width: 990px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}

.slider__line {
    display: flex;
    width: 990px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider__item {
    background: #FFFFFF;
    border-radius: 36px;
    padding-top: 40px;
    padding-left: 90px;
    padding-bottom: 40px;
    min-width: 900px;
    display: flex;
}

.img__block {
    width: 180px;
}

.main-img__block span {
    width: 180px;
    height: 180px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.small-img__block {
    text-align: center;
}
.small-img__block span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text__block {
    margin-top: 20px;
    margin-left: 40px;
}

.sport__name {
    font-size: 26px;
    font-weight: 500;
}

.sport__status {
    font-size: 26px;
    margin-bottom: 18px;
}

.sport__discribing {
    font-size: 18px;
}

.info__sport {
    margin-bottom: 90px;
}

.slide__btn {
    display: flex;
    justify-content: space-between;
}

#next {
    position: absolute;
    right: 0;
    top: 60%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

#prev {
    position: absolute;
    left: 0;
    top: 60%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/*footer*/

.footer__container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

.column__menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.info__menu {
    line-height: 2;
    width: 600px;
    text-align: right;
}

.column {
    display: grid;
}

.column a {
    text-decoration: none;
    color: #000;
    font-size: 26px;
}

@media (min-width: 2200px) {
    .footer__container {
        max-width: 1900px;
    }
}

@media (max-width: 1619px) {
    .footer__container {
        max-width: 1360px;
    }
}

@media (max-width: 1519px) {
    .footer__container {
        max-width: 1400px;
    }
}

@media (max-width: 1419px) {
    .footer__container {
        max-width: 1350px;
    }
}

.info__menu .phone__number {
    font-size: 26px;
}

.info__menu .email a{
    font-size: 26px;
    text-decoration: none;
    color: #000;
}

.social__link {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.footer__wrapper {
    margin-top: 40px;
    background-color: #E5E5E5;
}

.bottom__footer {
    padding-top: 20px;
    width: 100%;
}

.first__line {
    font-weight: 300;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.second__line {
    font-weight: 300;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

.first__line a {
    text-decoration: none;
    color: #000;
}

.second__line a {
    text-decoration: none;
    color: #000;
}

.adaptive__header {
    text-align: center;
    background-color: #535353;
}

.adaptive__header a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;

}

.adaptive__header li {
    padding: 20px 0;
}

.adaptive__header li:hover {
    background-color: rgb(102, 102, 102);
}

.header-toggle {
    display: none;
}